﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Projeto Estudo</title>
    @Html.Partial("AdminLTE/_Styles")
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
</head>

<body class="hold-transition sidebar">

    <div class="wrapper">
        @Html.Partial("AdminLTE/_TopNavigation")
        @Html.Partial("AdminLTE/_MainNavigation")
        
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid ">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark"></h1>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container-fluid pb-5">
                        @RenderBody()
                    </div>
                </div>
            </div>
        
        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <a class="nav-link" data-widget="control-sidebar" href="#">Toggle Control Sidebar</a>

            </div>
        </aside>
        @Html.Partial("AdminLTE/_Footer")
    </div>
    @Html.Partial("AdminLTE/_Scripts")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
    @Scripts.Render("~/bundles/inputmask")

    @RenderSection("scripts", required: false)
</body>
</html>