﻿    <aside class="main-sidebar  sidebarColor elevation-4">

        <div class="mt-2 pt-1 mb-0 d-flex" style="">


           
                 
        </div>
        <div class="user-panel mt-2 pb-1 mb-1   d-flex">

        </div>
        <div class="sidebar sidebarT">



            <nav class="mt-2">

                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                    <li class="nav-item ">

                        <a href="@Url.Action("Index", "Home")" class="nav-link">

                            Home

                        </a>

                    </li>
                    <li class="nav-item">

                        <a href="@Url.Action("Index", "Produto")" class="nav-link ">

                            Produto

                        </a>

                    </li>
                    </li>
                    <li class="nav-item">

                        <a href="@Url.Action("Index", "Cliente")" class="nav-link ">

                            Cliente

                        </a>

                    </li>
                </ul>
            </nav>
        </div>
    </aside>
