﻿@model IEnumerable<MSDPortal.Application.Entidades.Produto>

@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="~/adminlte/plugins/datatables/jquery.dataTables.js" defer></script>

<link href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js" defer></script>

<script>
    $(document).ready(function () {
        $('#tabelaDestaques').DataTable();
        $('#thRemoveClass').removeClass("sorting");
    });</script>
<div class="container  ">
    <div class="row">

        <div class="col pl-0">
            <h1 class="mt-2 primaryColor titlePage">  Produto</h1>
        </div>
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col-1 mt-4 mb-3 pl-0">

            <a asp-action="Create" class="btn    " href="@Url.Action("Create", "Produto")" style="color: white;background: #169994!important;/* width: 200px; *//* width: auto; */width: 100%;">
                Novo<i class="fa fa-plus" aria-hidden="true" style="  padding-inline-start: 10px;
"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table dxbs-fixed table table-bordered table-sm table-striped" id="tabelaDestaques" style="background:#fff;width:100% ">
            <thead>
                <tr>

                    <th>
                        Nome
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Preço
                    </th>
                    <th>
                        Juros
                    </th>
                    <th id="thRemoveClass" width="16%">
                    </th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preço)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Juros)
        </td>


        <td class="dxbs-cmd-cell tdGrid text-center" width="16%">
            <a asp-action="Edit" asp-route-id="@item.Id" href="@Url.Action("Edit", "Produto", new { id = item.Id })" class="btn-sm btn-link dxbs-button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="far fa-edit"></i></a>
            <a asp-action="Delete" asp-route-id="@item.Id" href="@Url.Action("Delete", "Produto", new { id = item.Id })" class="btn-sm btn-link dxbs-button" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="far fa-trash-alt"></i> </a>
        </td>
    </tr>
}

}
            </tbody>

        </table>
    </div>
</div>


